name: Android CI

on:
  push:
    branches: [ "master", "develop" ]
  pull_request:
    branches: [ "master", "develop" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Setup Java
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: gradle

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Build with Gradle
        run: ./gradlew :app:assembleDebug

      - name: Check Kotlin code style
        run: ./gradlew ktlint

      - name: Upload Debug APK
        uses: actions/upload-artifact@v3
        with:
          name: Sample App (Debug)
          path: ./app/build/outputs/apk/debug/app-debug.apk